@font-face {
  font-family: 'Bahnschrift';
  src: url('~static/fonts/subset-Bahnschrift.eot');
  src: local('Bahnschrift'),
      url('~static/fonts/subset-Bahnschrift.eot?#iefix') format('embedded-opentype'),
      url('~static/fonts/subset-Bahnschrift.woff2') format('woff2'),
      url('~static/fonts/subset-Bahnschrift.woff') format('woff'),
      url('~static/fonts/subset-Bahnschrift.ttf') format('truetype'),
      url('~static/fonts/subset-Bahnschrift.svg#Bahnschrift') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Yatra One';
  src: url('~static/fonts/subset-YatraOne-Regular.eot');
  src: local('Yatra One Regular'), local('YatraOne-Regular'),
      url('~static/fonts/subset-YatraOne-Regular.eot?#iefix') format('embedded-opentype'),
      url('~static/fonts/subset-YatraOne-Regular.woff2') format('woff2'),
      url('~static/fonts/subset-YatraOne-Regular.woff') format('woff'),
      url('~static/fonts/subset-YatraOne-Regular.ttf') format('truetype'),
      url('~static/fonts/subset-YatraOne-Regular.svg#YatraOne-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
